
/* Your CSS Code here. */
.child{
	height:100px;
	width:100px;
}
.child1{
	background-color:green;
}
.child2{
	background-color:red;
}
.child3{
	background-color:blue;
}
.parent{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}